html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

.wrapper {
	height: 100%;
	width: 100%;
}

.child {
	background: grey;
	vertical-align: top;
	position: relative;
	float: left;
}

.config {
	width: 150px;
	height: 270px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 170, 238, 0.8);
	z-index: 1;
}

.random-coor {
	width: 90px;
	height: 40px;
	margin: 0 auto;
}

button {
	display: block;
	background: #06B30D;
	border: none;
	color: #fff;
	margin: 10px auto;
	padding: 10px;
	min-width: 90px;
	height: 40px;
}

.radius {
	border-radius: 50%;
}